.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/pizza2.jpeg);
    z-index: 999999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.status {
    width: 512px;
    height: 512px;
    position: absolute;
    left: 35%;
    top: 20%;
    background-image: url(../images/gifs/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -70px 0 0 -70px;
}
.mouse_click {
    animation-name:spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    }
    @keyframes spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
    }
    .mouse_click:hover {
    animation: none;
    }
